@media only screen and (min-width: 1921px) {
*{

}
  h1,h2{
    font-size: 37px;
  }
  header,.grid-container{
    width: 1920px;
    margin: 0 auto 0 auto;
  }
  p,ul{
    font-size: 37px;
  }
  .intro{
    font-size: 62px;
    font-weight: 800;
    grid-column: 1/7;
    margin-top: 150px
  }
}
/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/

@media only screen and (min-width: 450px) and (max-width: 1920px){
  h1,h2,p,ul{
    font-size: 2.4vw;
  }

  .intro{
    font-size: 4vw;
    font-weight: 800;
    grid-column: 1/7;

  }
  h3{
      font-size: 3vw;
  }
}

/* ---------------------------------------------------------------*/
/* ---------------------------------------------------------------*/

@media only screen and (max-width: 449px) {
  h1,h2,ul,p{
    font-size: 15px;
  }

  .intro{
    margin-top: 10vw;
    font-weight: 800;
    grid-column: 1/7;
    font-size: 20px;
  }

  h3{
    font-size: 18px;
  }
  footer > ul{
    display: block !important;
  }

}

/*----------------------------------------------------------------*/
/* ---------------------------------------------------------------*/
* {
  font-family: sans-serif;
  color:white;
}

body {
  background-color:black;
  margin: 30px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10vw;
}

header, footer > ul{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

nav ul, nav li,h1, h1 a, h1 a:hover,h2,p,ul,h3{
  margin: 0;
  padding: 0;
}

nav ul, nav li{
  display: inline;
}

h2,h3,.c2{
  grid-column: 1 / 3;
}

ul{
  list-style:none;
}

.alinea{
  text-indent: 40px;
}

.exp, .projects{
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3vw;
}

 .projects, .projects>a:hover{
   grid-row-gap: 15vw;
   text-decoration: none;
 }

.GD, .IXD{
  grid-column: 3 / 7;
}

.full{
  grid-column: 3 / 7;
  width: 100%;
}

.half-right{
  grid-column: 5/7;
  width:100%;
}

.half-left{
  grid-column: 3/5;
  width:100%;
}

img{
  width: 100%;
}
.full>h3, .half-right>h3, .half-left>h3{
  font-weight: 800;
}
